/var/spack/stage
*.pyc
/opt/
*~
*.pyc
# USER SPECIFIC:
# (commented out so that I can retain execution configurations in CM):
# .idea/workspace.xml
.DS_Store
/etc/spack/*
/etc/spackconfig
/share/spack/dotkit
/share/spack/modules
/TAGS
